$white: rgba(255, 255, 255, 1);

$background-fill-grey: rgba(236, 237, 251, 1);

$faded: rgba(176, 213, 243, 1);
$support: rgba(215, 236, 250, 1);
$secondary: rgba(0, 126, 199, 1);
$primary: rgba(43, 158, 230, 1);
$primary-hover: rgba(81, 175, 234, 1);
$primary-disabled: rgba(91, 185, 244, 1);

$green: rgba(107, 204, 124, 1);
$green-hover: rgba(127, 224, 144, 1);

$border-grey: rgba(225, 229, 232, 0.5);
$text-light: rgba(213, 214, 218, 1);
$text-grey: rgba(173, 179, 184, 1);
$text-greyish: rgba(143, 149, 154, 1);
$text-dark: rgba(123, 129, 134, 1);
$text-strong: rgba(103, 109, 114, 1);
$text-verystrong: rgba(83, 89, 94, 1);