@font-face {
    font-family: "Circular";
    src: url("/resources/fonts/circular/lineto-circular-book.eot");
    src: url("/resources/fonts/circular/lineto-circular-book.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/circular/lineto-circular-book.woff") format("woff"), url("/resources/fonts/circular/lineto-circular-book.ttf") format("truetype"), url("/resources/fonts/circular/lineto-circular-book.svg#lineto-circular-book") format("svg");
    font-weight: 300;
    font-style: 300;
}
@font-face {
    font-family: "Circular";
    src: url("/resources/fonts/circular/lineto-circular-medium.eot");
    src: url("/resources/fonts/circular/lineto-circular-medium.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/circular/lineto-circular-medium.woff") format("woff"), url("/resources/fonts/circular/lineto-circular-medium.ttf") format("truetype"), url("/resources/fonts/circular/lineto-circular-medium.svg#lineto-circular-medium") format("svg");
    font-weight: 400;
    font-style: 400;
}
@font-face {
    font-family: "Circular";
    src: url("/resources/fonts/circular/lineto-circular-bold.eot");
    src: url("/resources/fonts/circular/lineto-circular-bold.eot?#iefix") format("embedded-opentype"), url("/resources/fonts/circular/lineto-circular-bold.woff") format("woff"), url("/resources/fonts/circular/lineto-circular-bold.ttf") format("truetype"), url("/resources/fonts/circular/lineto-circular-bold.svg#lineto-circular-bold") format("svg");
    font-weight: 500;
    font-style: 500;
}